@font-face {
    font-family: 'Estonia';
    src: url('../fonts/Estonia-Regular.woff2') format('woff2'),
        url('../fonts/Estonia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
  font-family: 'balqis';
  src: url('../fonts/balqis.woff2') format('woff2'),
       url('../fonts/balqis.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
